doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ../public/css/login.css
    body
        form(class="login-form" method="POST" action="/login")
            h1(class="form-title") Login
            div(class="login-content")
                div(class="email login-item")
                    input(type="email", name="email" placeholder="Email")
                div(class="password login-item")
                    input(type="password", name="password" placeholder="Password")
                button(type="submit" class="login-item btn-submit") LOG IN